{% extends "store/base.html" %}

{% block title %}
<title>{{ book.title }} | Library</title>
{% endblock %}

{% block content %}
<h2>Title: {{ book.title }}</h2>

<dl>
    <dt>Genre:</dt>
    <dd>{{ book.genre }}</dd>
    <dt>Author:</dt>
    <dd>{{ book.author }}</dd>
    <dt>Description:</dt>
    <dd>{{ book.description }}</dd>
    <dt>Rating:</dt>
    <dd>{{ book.rating }}</dd>
    <dt>MRP:</dt>
    <dd>Rs. {{ book.mrp }}</dd>
    <dt>Available Copies:</dt>
    <dd>{{ num_available }}</dd>
</dl>
<div class="row">
	<input type="number" name="rating" id="rate" placeholder="Rate Book" style="margin-bottom: 20px;">
	<button style="margin-left: 20px; margin-bottom: 20px;" class="btn btn-primary" id="rate-button">Rate</button>
</div>
<button class="btn btn-primary" id="loan-button">Loan {{ book.title }}</button>
<script>
	var l=document.getElementById('loan-button');
	l.addEventListener("click",()=>{
    	$.ajax({
			url: "/books/loan/",
			method: "POST",
			data: {
				bid: {{ book.id }}
				},
			success: (data, status, xhr)=>{
				if(data['message'] == 'success'){
                	alert("Book successfully issued");
                	window.location.replace("/books/loaned/");
				}
				else{
					alert("Unable to issue this book");
				}
			},
			error: (xhr, status, err)=>{
				alert("Some error occured");
			}

		})
	})

	var r=document.getElementById('rate-button');
	r.addEventListener("click",()=>{
	
	var num=document.getElementById('rate').value.trim();
	if(num<0 || num>10){
		alert("Rating should be between 0 and 10");
	}
	else{
    	$.ajax({
			url:  "/books/rate/" ,
			method: "POST",
			data: {
				bid : {{ book.id }},
				rate: num
			},
			success: (data, status, xhr)=>{
                window.location.replace("/books/ratereview/");
                },
			error: (xhr, status, err)=>{
				alert("Some error occured");
			}

		})
	}
	})
</script>
{% endblock %}
